<% provide(:page_title, @problem.title) %>
<% provide(:problem_active, 'active') %>
<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @problem.title %></h1>
    <p>Jan,14 2016</p>
    <h3 for="complaint">Complaints:</h3>
    <textarea class="description-area"><%= @problem.complaint %><br></textarea>

    <h3 for="examination">Examination:</h3>
    <textarea class="description-area"><%= @problem.examination %><br></textarea>

    <h3 for="advice">Advice:</h3>
    <textarea class="description-area"><%= @problem.advice %></textarea>
  </div>
</div>
