body{
  // background-color: #F4F3F2;
}
.new_probl{
  margin-bottom: 20px;
}
.wrapper{
  min-height: 500px;
}
.problems.index{
  .card{
    border: none;
    border-radius: none;
    border-bottom: 1px solid #181818;
    height: 200px;
    margin-bottom: 20px;
    .card-topper{
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .card-block{
      padding: 10px;
      .btn-read{
        background-color: #e8e8e8;
        font-weight: 300;
        border-radius: 0;
        color: black;
        &:hover{
          background-color: #d8d8d8;
        }
      }
      .card-title{
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        a{
          color: black;
          text-decoration: none;
        }
      }
      .published_date{
        font-size: 0.8rem;
        color: #787878;
        font-weight: 300;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }
      .card-text{
        font-size: 0.9rem;
      }
    }
  }
}
.problem-h3{
  padding-left: 80px;
  padding-top: 50px;
  text-align: left;
}

.field{
  margin-top: 50px;
}

textarea{
  border-radius: 5px;
  border: 1px solid #c8c8c8 !important;
  height: 250px;
  width: 75%;
  text-align: justify;
}

@media screen and (min-width: 34rem) {
  .problems.index .card{
    height: 60px;
  }

}

@media screen and (min-width: 48rem) {
  .problems.index .card{
    height: 180px;
  }

}

@media screen and (min-width: 75rem) {
  .problems.index .card{
    height: 175px;
  }

}


.footer-design{
  // display: block;
  height: 50px;
  background-color: #c8c8c8;
  padding-top: 10px;
  margin-top: 50px;
  text-align: center;
}
